{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							{% if listings %}
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										{% for listing in listings %}
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{{ listing.photo_main.url }}" alt="">
												<div class="product-label">
													<h2>
														<span class="sale"></span>

													</h2>
												</div>
											</div>
											<div class="product-body">
												<!--NOTE THAT A LINK CAN BE PUT HERE THAT TAKE VISITORS TO PRODUCT DETAIL-->
												<h3 class="product-name"><a href="#">{{ listing.title }}</a></h3>
												<h4 class="product-price">${{ listing.price | intcomma }}</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div><!-------------------->
							{% else %} 
						</div>
						<p>No Listings Available</p>

					</div>
					{% endif %}
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
				
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{% endblock content %} 